<% if flash[:error] %>
        <p id="warning"><%= flash[:error] %></p>
<% end %>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @user.admin %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  <% end %>
  <div class="field">
    <label for="user_name">Nombre</label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label for="user_lastname">Apellido</label>
    <%= f.text_field :lastname %>
  </div>
  <% if User.find(session[:user_id]).admin %>
      <div class="field">
     <label for="password">Nueva Contraseña</label>
      <br>
       <%= password_field_tag :new_password, nil, :required => true %>
      </div>
      <div class="field">
        <label for="password_confirmation">Confirmación de Nueva Contraseña</label>
      <br>
      <%= password_field_tag :new_password_check, nil, :required => true %>
      </div>
  <% end %>
  <div>
  <% if @user.id == session[:user_id] %>
  <% else %>
  <%= label_tag 'Administrador'%>
  <% if @user.admin%>
    <%= check_box_tag 'admin', 1, true %>
  <% else %>
    <%= check_box_tag 'admin', 1 %>
  <% end %>
  </div>
  <% end %>
	
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
