<% if flash[:error] %>
    <p id="warning"><%= flash[:error] %></p>
<% end %>
<% if session[:user_id] %>
<% else %>
	<h1>Recuperar contraseña</h1>
		<%= form_tag("/forgottenpassword", :method => "post") do %>
				<%= label_tag(:email, "Email") %>
				<%= text_field_tag :email, nil, :required => true %>
				<%= submit_tag("Recuperar contraseña") %>
			<% end %>
<% end %>
