<% if !session[:user_id] %>
			
<% else %>
	<h1>Cambiar contraseña</h1>
		<%= form_tag("/changepassword", :method => "post") do %>
				<%= label_tag(:old_password, "Contraseña Actual") %>
				 <%= password_field_tag :old_password, nil, :required => true %>
				<%= label_tag(:new_password, "Nueva Contraseña") %>
				 <%= password_field_tag :new_password, nil, :required => true %>
				<%= label_tag(:new_password_check, "Repita la nueva contraseña") %>
				 <%= password_field_tag :new_password_check, nil, :required => true %>
				<%= submit_tag("Cambiar Constraseña") %>
			<% end %>
<% end %>
