<center><h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>
    <td><%= user.admin %></td>
    <td><%= link_to 'Detalles', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Destruir', user, method: :delete, data: { confirm: '¿Seguro que desea eliminarlo?' } %></td>
  </tr>
<% end %>
</table>
</center>