<p id="notice"><%= notice %></p>
<center>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Nombre:</b>
  <%= @user.name %> <%= @user.lastname %>
</p>

<%= link_to 'Editar Perfil', edit_user_path(@user) %>
</center>