<% if flash[:error] %>
    <p id="warning"><%= flash[:error] %></p>
<% end %>
<div class="container">
	<% if !session[:user_id] %>
		<%= form_for(User.new, :url => '/', :class => 'new_user') do |f| %>
			<center>
				<h2 class="form-signin-heading">Por favor, identif&iacute;quese</h2>
			</center>
			<input type="text" name="email" class="input-block-level" id="email" placeholder="Email">
			<input type="password" name="password" id="password" class="input-block-level" placeholder="Contrase&ntilde;a">
			<center>
				<% if flash[:error] %>
					<p id="warning"><%= flash[:error] %></p>
				<% end %>
				<%= f.submit "Iniciar Sesión" , :name => "commit", :class => "btn btn-large btn-primary" %>
				<%= link_to 'Registrarse', new_user_path, :name => "commit", :class => "btn btn-large btn-primary"  %>
			</center>
		<% end %>
	<% else %>
		<h2>Bienvenido <%= User.find(session[:user_id]).name %> </h2>
		<% if User.find(session[:user_id]).admin %>
			<%= form_tag("/search", :method => "post") do %>
				<%= label_tag(:simple_query, "Buscar usuario:") %>
				<%= text_field_tag(:simple_query) %>
				<%= submit_tag("Buscar usuario") %>
			<% end %>
			<%= link_to 'Ver usuarios', users_path %>
		<% end %>
	<% end %>
</div>