<% if flash[:error] %>
    <p id="warning"><%= flash[:error] %></p>
<% end %>
<div class="container">
	<% if !session[:user_id] %>
		<%= form_for(User.new, :url => '/', :class => 'new_user') do |f| %>
			<center>
				<h2 class="form-signin-heading">Por favor, identif&iacute;quese</h2>
			</center>
			
			

				<center>
				<div class="control-group">
                        <!-- Username -->
                        <div class="controls">
                          <input type="text" name="email" class="input-xlarge" id="email" placeholder="Email">
                        </div>
                      </div>
 
                      <div class="control-group">
                        <!-- Password-->
                        <div class="controls">
                          <input type="password" name="password" id="password" class="input-xlarge" placeholder="Contrase&ntilde;a">
                        </div>
                      </div>
 				</center>


			<center>
				<%= f.submit "Login" , :name => "commit", :class => "btn btn-large btn-success" %>
				<%= link_to 'Registrarse', new_user_path, :name => "commit", :class => "btn btn-large btn-success"  %>
			</center>
			<center><%= link_to 'Recuperar Contraseña', forgottenpassword_path,:name => "forgottenpassword", :class => "btn btn-medium btn-success", :style => "margin-top: 10px; " %></center>
		<% end %>
	<% else %>
		<center><h2>Bienvenido, <%= User.find(session[:user_id]).name %> </h2>
		<% @user = User.find(session[:user_id]) %>
		<%= render 'homeworks/index_partial' %></center>
	<% end %>
</div>