<%= form_for(@homework, :html => { :multipart => true }) do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label for="homework_name">Nombre</label><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Archivo Enunciado" %><br />
    <%= f.file_field :description_file %>
  </div>
  <div class="field">
    <%= f.label "Enunciado Manual" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <label for="homework_active">¿Activo?</label><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <label for="homework_deadline">Fecha Límite</label><br />
	<% if @homework.deadline %>
	<% @date_value = @homework.deadline.to_date.to_s + "T" %>
	<% if @homework.deadline.hour < 10 %>
		<% @date_value = @date_value + "0" %>
	<% end %>
	<% @date_value = @date_value + @homework.deadline.hour.to_s + ":" %>
	<% if @homework.deadline.min < 10 %>
		<% @date_value = @date_value + "0" %>
	<% end %>
	<% @date_value = @date_value + @homework.deadline.min.to_s + ":" %>
	<% if @homework.deadline.sec < 10 %>
		<% @date_value = @date_value + "0" %>
	<% end %>
	<% @date_value = @date_value + @homework.deadline.sec.to_s %>
	<input type="datetime-local" name="homework[deadline]" value = "<%= @date_value.to_s %>" required>
	<% else %>
	<input type="datetime-local" name="homework[deadline]" required>
	<% end%>
  </div>
  <div class="field">
  <% if @homework.homework_users.count > 0%>
  <label for="homework_guests">Invitados</label>
  <br/>
  <table>
	<% @homework.homework_users.each do |hu| %>
		<tr>
			<% if hu.user %>
				<td><%= link_to hu.user.email, hu.user %> </td>
				<td><%= link_to "Desinvitar", "/uninvite/#{hu.id}" , data: { confirm: '¿Seguro que desea desinvitarlo?' }%></td>
			<% end %>
		</tr>
	<% end %>
  </table>
  <br/>
  <label for="homework_guests">Agregar más Invitados (Separados por ;)</label>
  <% else %>
  <label for="homework_guests">Invitados (Separados por ;)</label>
  <% end %>
  <br/>
  <textarea cols="40" id="guest-text-box" name="invitados" rows="5"> </textarea>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
