<%= link_to 'Crear Tarea', new_homework_path, :name => "commit", :class => "btn btn-large btn-success"  %>
<% if @my_homeworks.count > 0 %>
	<h3>Mis Tareas</h3>

	<table>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>¿Abierto?</th>
			<th>Fecha Límite</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<% @my_homeworks.each do |homework| %>
			<tr>
				<td><%= homework.name %></td>
				<td><%= homework.description %></td>
				<td>
				<% if homework.active%>
				Si
				<% else %>
				No
				<% end %>
				</td>
				<td></td>
				<td><%= link_to 'Detalles', homework %></td>
				<td><%= link_to 'Editar', edit_homework_path(homework) %></td>
				<td><%= link_to 'Destruir', homework, method: :delete, data: { confirm: '¿Seguro que desea eliminarlo?' } %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<br />

<% if @other_homeworks.count > 0 %>
	<h3>Tareas en que participo</h3>
	<table>
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>¿Abierto?</th>
			<th>Fecha Límite</th>
			<th></th>
		</tr>

		<% @other_homeworks.each do |h_id| %>
			<tr>
				<% homework = Homework.find(h_id) %>
				<td><%= homework.name %></td>
				<td><%= homework.description %></td>
				<td><%= homework.active %></td>
				<td><%= homework.deadline.in_time_zone('Eastern Time (US & Canada)') %></td>
				<td><%= link_to 'Detalles', homework %></td>
			</tr>
		<% end %>
	</table>
<% end %>
<br />


