<center><p id="notice"><%= notice %></p>

<p>
  <b>Nombre Archivo:</b>
  <%= @archive.upload_file_file_name %>
</p>

<p>
  <b>Versión:</b>
  <%= @archive.version %>
</p>
<p>
  <b>Ip:</b>
  <%= @archive.ip %>
</p>

<p>
  <b><%= link_to 'Descargar Archivo',@archive.upload_file.url%></b>
</p>

</center>